@import '../../assets/scss/variables';

.i {
	display: flex;
	align-items: center;
	justify-content: center;

	// size
	&--xs {
		font-size: map-get($fs, 'xs');
	}
	&--sm {
		font-size: map-get($fs, 'sm');
	}
	&--md {
		font-size: map-get($fs, 'md');
	}
	&--lg {
		font-size: map-get($fs, 'lg');
	}
	&--xl {
		font-size: map-get($fs, 'xl');
	}
	&--xxl {
		font-size: map-get($fs, 'xxl');
	}
}
