@import '../../../../assets/scss/variables';

.user {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    max-height: 100%;

    &__header {
        height: fit-content;
        border-bottom: 1px solid map-get($theme-colors, 'grey');
        padding: 0 0 map-get($p, 'sm') 0;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    &__body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-y: scroll;
        padding-right: map-get($p, 'sm');
    }
    &__footer {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
}