@import '../../assets/scss/base/variables';


.loader {
    width: 100%;
    min-height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($theme-colors, 'none');
    &__body {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: map-get($theme-colors, 'none');
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: map-get($theme-colors, 'primary');
        animation: rotate-360 1.75s linear infinite;
    }
}