html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: map-get($theme-colors, 'white');
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}