@import './variables';

ul,
ol {
  list-style-type: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

p {
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

input[type="number"] {

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

button {
  outline: none;
  background-color: none;
  border: none;
  color: light;
}