@import './colors';

$r: (
    'sm': 0.5rem,
    'md': 1rem,
    'lg': 1.5rem,
    'xl': 2rem,
    'xxl': 3rem,
);

$p: (
    'sm': 0.75rem,
    'md': 1.25rem,
    'lg': 2rem,
    'xl': 3rem,
    'xxl': 4rem,
);

$m: (
    'sm': 0.75rem,
    'md': 1.5rem,
    'lg': 2rem,
    'xl': 3rem,
    'xxl': 4rem,
);

$fs: (
    'xs': 0.75rem,
    'sm': 1rem,
    'md': 1.5rem,
    'lg': 2rem,
    'xl': 2.5rem,
    'xxl': 4rem,
);