@import './variables';
@import './animations';

@import '~/node_modules/bootstrap/scss/bootstrap';

@import './null';

@import './ui/buttons';

body {
    background-image: url('https://wallpapertag.com/wallpaper/full/2/3/a/191147-vertical-black-gradient-background-1920x1080-photos.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    max-height: 100vh !important;
    overflow: hidden;
    color: map-get($theme-colors, 'white');
}

.main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: map-get($p, 'md');
}

.w-fit {
    width: fit-content;
}

.alert {
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: map-get($glass, 'xl');
    border-radius: map-get($r, 'sm');
}
::-webkit-scrollbar-thumb {
    background: map-get($theme-colors, 'primary');
    border-radius: map-get($r, 'sm');
}