@import './variables';
@import './animations';

@import '~/node_modules/bootstrap/scss/bootstrap-grid';
@import '~/node_modules/bootstrap/scss/bootstrap-reboot';
@import '~/node_modules/bootstrap/scss/bootstrap-utilities';
@import '~/node_modules/bootstrap/scss/_tables';
@import '~/node_modules/bootstrap/scss/_dropdown';


@import './null';

@import './ui/buttons';

body {
    background-image: url('https://wallpapertag.com/wallpaper/full/2/3/a/191147-vertical-black-gradient-background-1920x1080-photos.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    max-height: 100vh !important;
    overflow: hidden;
    color: map-get($theme-colors, 'white');
}

.main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: map-get($p, 'sm');
}

.w-fit {
    width: fit-content;
}

.alert {
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: map-get($glass, 'xl');
    border-radius: map-get($r, 'sm');
}
::-webkit-scrollbar-thumb {
    background: map-get($theme-colors, 'primary');
    border-radius: map-get($r, 'sm');
}

.alert {
    background-color: map-get($theme-colors, 'none');
    border: none;
}
.alert-danger {
    color: map-get($theme-colors, 'danger');
}

.model-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    &--header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
    }
    &--body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
}
.border-bottom {
    border-color: map-get($theme-colors, 'grey') !important;
}


.dropdown {
    & .dropdown-toggle {
        background-color: map-get($theme-colors, 'primary');
    }
    & .dropdown-menu  {
        background-color: map-get($theme-colors, 'dark');
    }

    & .dropdown-item {
        padding: 0;
        height: fit-content;
        &:hover {
            padding: 0;
            background-color: map-get($theme-colors, 'none');
            
        }
    }
}