@import '../../assets/scss/variables';

.model-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    &--header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &--body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-right: map-get($p, 'sm');
    }
    &--footer {
        gap: 1rem;
        padding-top: map-get($p, 'sm');
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}