// Variables
@import "../assets/scss/base/variables";

// BS5 styles
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-utilities";

// Custom styles
@import "../assets/scss/style";



