$theme-colors: (
  "primary": rgb(229, 35, 74),
  "secondary": rgba(108, 117, 125, 1),
  "success": rgba(40, 167, 69, 1),
  "info": rgb(44, 172, 192),
  "warning": rgba(255, 193, 7, 1),
  "danger": rgba(220, 53, 69, 1),
  "light": rgba(210, 210, 210, 1),
  "dark": rgba(52, 58, 64, 1),
  "glass-sm": rgba(0, 0, 0, 0.1),
  "glass-md": rgba(0, 0, 0, 0.2),
  "glass-lg": rgba(0, 0, 0, 0.4),
  "glass-xl": rgba(0, 0, 0, 0.6),
  "none": rgba(255, 255, 255, 0),
  "fade": rgba(169, 169, 169, 0.8),
);

h1, h2, h3, h4, h5, h6, p, a, button {
  color: map-get($theme-colors, 'light');
}