// .col,
// .col-1,
// .col-2,
// .col-3,
// .col-4,
// .col-5,
// .col-6,
// .col-7,
// .col-8,
// .col-9,
// .col-10,
// .col-11,
// .col-12,
* {
    box-sizing: border-box !important;
}
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}


input {
    outline: none;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}