@import './null';
@import './utils';
@import './colors';
@import './breakpoints';
@import './animations';


$round-small: 0.25rem;
$round-md: 0.5rem;
$round-lg: 1rem;
$round-xl: 1.5rem;
$round-xxl: 2rem;

