@import '../../assets/scss/variables';

.spinner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    & .i {
        animation: rotate 2s linear infinite;
    }
    &--inline {

        padding: 0 !important;
    }
}