@import '../../../assets/scss/variables';

.aside {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: map-get($p, 'md') map-get($p, 'sm');

    &--header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    &--body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;
    }
}