@import '../variables';

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    width: fit-content;
    height: fit-content;
    padding: map-get($p, 'sm') map-get($p, 'lg');
    border-radius: map-get($r, 'sm');
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out, transform 0.1s ease-in-out;
    &:hover {
        opacity: 0.9;
    }
    &:active {
        transform: scale(0.95);
    }
}

.btn-primary {
    background-color: map-get($colors, 'primary');
    color: map-get($colors, 'white');
}