.form-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: map-get($p, 'sm');
    border-bottom: 1px solid map-get($theme-colors, 'fade');
    & input {
        background-color: map-get($theme-colors, 'none');
        color: map-get($theme-colors, 'light');
        &::placeholder {
            color: map-get($theme-colors, 'fade');
            transition: opacity 0.3s ease-in-out;
        }
        &:hover {
            &::placeholder {
                opacity: 0.5;
            }
        }
        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }
    }

}