.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 1rem;

    & li {
        display: flex;
        gap: 1rem;
        & p {
            display: flex;
            gap: 0.5rem;
        }
        & i {
            font-size: 1.25rem;
        }
    }
}