.section {
    display: flex;
    height: 100%;
    background-color: map-get($theme-colors, 'glass-lg');
    border-radius: map-get($round, 'xl');
    backdrop-filter: blur(10px);
    padding: map-get($padding, 'xl');
}