@import '../base/variables';

.section {
    display: flex;
    height: 100%;
    background-color: map-get($theme-colors, 'glass-lg');
    border-radius: map-get($r, 'xl');
    backdrop-filter: blur(10px);
    padding: map-get($p, 'xl');

}

.section-model {
    &__header {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

    &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
    }

    &__footer {
        width: 100%;
        height: 50px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

}