@import '../../assets/scss/base/variables';

.label {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 !important;
    cursor: pointer;
    @extend .unselect;

    & input[type="checkbox"] {
        display: none;

        &:checked + .checkbox-view {
            background-color: map-get($theme-colors, 'secondary');
            color: map-get($theme-colors, 'light');
            border-color: map-get($theme-colors, 'secondary');
            transition: color 0.3s 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        }
    }

    & .checkbox-view {
        width: 24px;
        height: 24px;
        border-radius: map-get($r, 'md');
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid map-get($theme-colors, 'secondary');
        background-color: map-get($theme-colors, 'none');
        color: map-get($theme-colors, 'none');
        font-size: 0.8rem;
        transition: color 0.3s ease-in-out, border-color 0.2s 0.2s ease-in-out, background-color 0.2s 0.2s ease-in-out;
    }

    &:hover .checkbox-view {
        border-color: map-get($theme-colors, 'success');
    }
}