@import "../../assets/scss/variables";


.form-group {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: map-get($m, "sm");

    &.disabled {
        flex-direction: row;
        padding: map-get($p, "md") 0;
        border-bottom: 1px solid map-get($theme-colors, "gray");

        & .form-label {
            color: map-get($theme-colors, "muted");
        }
    }
}

.form-input {
    width: 100%;
    height: fit-content;
    outline: none;
    border: 1px solid map-get($theme-colors, "gray");
    background-color: map-get($theme-colors, "none");
    border-radius: map-get($r, "sm");
    padding: map-get($p, "sm") map-get($p, "md");
    color: map-get($theme-colors, "white");
    &::placeholder {
        color: map-get($theme-colors, "white");
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    &:hover {
        &::placeholder {
            opacity: 1;
        }
    }
    &:focus {
        border-color: map-get($theme-colors, "primary");
        &::placeholder {
            opacity: 0;
        }
    }
    &--label{
        color: map-get($theme-colors, "white");
        font-size: map-get($fs, "sm");
        margin: 0;
        text-transform: capitalize;
        white-space: nowrap;
    }
    &--icon {
        color: map-get($theme-colors, "muted");
    }
    &:read-only {
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: map-get($theme-colors, "none");
        color: map-get($theme-colors, "grey");
        &::placeholder {
            color: map-get($theme-colors, "grey");
        }
    }
    &--datetime {
        padding-left: map-get($p, 'xl') !important;
        border: none;
        cursor: pointer;
    }
}

.form-checkbox {
    display: none;
    &:checked {
        & + .form-checkbox--label {
            & i {
                color: map-get($theme-colors, 'white');
                background-color: map-get($theme-colors, 'primary');
                border-color: map-get($theme-colors, 'primary');
                & svg {
                    color: map-get($theme-colors, 'white');
                    transform: scale(1);
                }
            }
        }
    }
    &--label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        text-transform: capitalize;
        &:hover {
            & span {
                color: map-get($theme-colors, 'grey');
            }
        }
        & i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 26px;
            height: 26px;
            border: 1px solid map-get($theme-colors, 'gray');
            border-radius: map-get($r, 'sm');
            transition: all 0.3s ease-in-out;
            font-size: map-get($fs, 'xs');
            & svg {
                color: map-get($theme-colors, 'none');
                transform: scale(0.5);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

.react-datepicker__input-container {
    display: inline-flex !important;
    align-items: center;
    padding: map-get($p, 'sm') 0;
    border-bottom: 1px solid map-get($theme-colors, 'gray');
    display: flex;
    align-items: center;
    height: fit-content;
}

.react-datepicker-popper {
    & .react-datepicker__triangle {
        & path {
            fill: map-get($theme-colors, 'grey');
            color: map-get($theme-colors, 'grey');
        }
    }

    & .react-datepicker, & .react-datepicker__time {
        background-color: map-get($theme-colors, 'dark') !important;
        color: map-get($theme-colors, 'white') !important;
    }
    & .react-datepicker__header, & .react-datepicker-time__header {
        background-color: map-get($theme-colors, 'dark');
        color: map-get($theme-colors, 'white') !important;
    }
    & .react-datepicker__day-name, & .react-datepicker__current-month {
        color: map-get($theme-colors, 'white') !important;
    }
    & .react-datepicker__day, & .react-datepicker__time-list-item  {
        color: map-get($theme-colors, 'white') !important;
        &:hover {
            background-color: map-get($theme-colors, 'dark') !important;
            color: map-get($theme-colors, 'primary') !important;
        }
    }
    & .react-datepicker__day--selected {
        background-color: map-get($theme-colors, 'primary') !important;
        color: map-get($theme-colors, 'white') !important;
    }


}
