@import "../../assets/scss/variables";

.form-group {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: map-get($m, "sm");

    &.disabled {
        flex-direction: row;
        padding: map-get($p, "sm") 0;
        border-bottom: 1px solid map-get($theme-colors, "gray");

        & .form-label {
            color: map-get($theme-colors, "muted");
        }
    }
}

.form-input {
    width: 100%;
    height: fit-content;
    outline: none;
    border: 1px solid map-get($theme-colors, "gray");
    background-color: map-get($theme-colors, "none");
    border-radius: map-get($r, "sm");
    padding: map-get($p, "sm") map-get($p, "md");
    color: map-get($theme-colors, "white");
    &::placeholder {
        color: map-get($theme-colors, "white");
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    &:hover {
        &::placeholder {
            opacity: 1;
        }
    }
    &:focus {
        border-color: map-get($theme-colors, "primary");
        &::placeholder {
            opacity: 0;
        }
    }
    &:disabled {
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: map-get($theme-colors, "none");

        color: map-get($theme-colors, "grey");
        &::placeholder {
            color: map-get($theme-colors, "grey");
        }
    }
    &--label {
        color: map-get($theme-colors, "white");
        font-size: map-get($fs, "sm");
        margin: 0;
        text-transform: capitalize;
        white-space: nowrap;
    }
}

.form-checkbox {
    display: none;
    &:checked {
        & + .form-checkbox--label {
            & i {
                color: map-get($theme-colors, 'white');
                background-color: map-get($theme-colors, 'primary');
                border-color: map-get($theme-colors, 'primary');
                & svg {
                    color: map-get($theme-colors, 'white');
                    transform: scale(1);
                }
            }
        }
    }
    &--label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        &:hover {
            & span {
                color: map-get($theme-colors, 'grey');
            }
        }
        & i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 26px;
            height: 26px;
            border: 1px solid map-get($theme-colors, 'gray');
            border-radius: map-get($r, 'sm');
            transition: all 0.3s ease-in-out;
            font-size: map-get($fs, 'xs');
            & svg {
                color: map-get($theme-colors, 'none');
                transform: scale(0.5);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}