@import "../../assets/scss/variables";

.table {
    & thead {
        text-align: center;
        & th {
            text-transform: capitalize;
        }
    }
    & tbody {
        text-align: center;
    }
}

.table-model {
    &--header {
        padding: map-get($p, 'md') 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}